language: php

matrix:
  include:
    - php: "7.0"
      env: LARAVEL_VERSION="5.5.*"
    - php: "7.1"
      env: LARAVEL_VERSION="5.5.*"
    - php: "7.2"
      env: LARAVEL_VERSION="5.5.*"
    - php: "7.2"
      env: LARAVEL_VERSION="5.6.*"
    - php: "7.2"
      env: LARAVEL_VERSION="5.7.*" RUN_CS_FIXER=1

sudo: false

install:
  - composer require "illuminate/console:${LARAVEL_VERSION}" "illuminate/contracts:${LARAVEL_VERSION}" "illuminate/database:${LARAVEL_VERSION}" "illuminate/support:${LARAVEL_VERSION}" --no-update --no-interaction
  - travis_retry composer install --no-interaction --prefer-dist

script:
  - if [ "$RUN_CS_FIXER" ] ; then vendor/bin/phpcs --standard=psr2 src/ ; fi
  - vendor/bin/phpunit --coverage-text

branches:
  only: master
